.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: lightblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.home-navbar {
  font-size: 25px;
  color: lightblue;
  margin-left: 40px;
}

.navbar a {
  text-decoration: none;
}

.home {
  color: white;
  margin-left: 10px;
  margin-right: 20px;
}
